.container {
	width: 100%;
	border: 1px solid grey;
	border-radius: 24px;
    animation: reveal linear both;
	animation-timeline: view();
	animation-range: cover 0% contain 0%;
}

@keyframes reveal {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.container ol {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
